<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Connexion - NetflixLight</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <h1>NETFLIXLIGHT</h1>
    <nav>
        <a href="index.html">Accueil</a>
        <a href="favoris.html">Favoris</a>
        <a href="authentication.html">Connexion</a>
    </nav>
</header>

<section>
    <h2>Connexion</h2>

    <form id="loginForm">
        <label for="email">Email</label><br>
        <input type="email" id="email" required><br><br>

        <label for="password">Mot de passe</label><br>
        <input type="password" id="password" required><br><br>

        <button type="submit">Se connecter</button>
    </form>

</section>

<script src="/js/script.js"></script>

</body>

</html>