<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Favoris - NetflixLight</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <h1>NETFLIXLIGHT</h1>
    <nav>
        <a href="index.html">Accueil</a>
        <a href="favoris.html">Favoris</a>
        <a href="authentication.html">Connexion</a>
        <button id="themeToggle">Mode clair</button>
    </nav>
</header>

<section>
    <h2>Mes Favoris</h2>
    <div class="carousel" id="favorisList"></div>
</section>

<script src="/js/script.js"></script>

</body>
</html>