<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Détail - NetflixLight</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <h1>NETFLIXLIGHT</h1>
    <nav>
        <a href="index.html">Accueil</a>
        <a href="favoris.html">Favoris</a>
        <a href="authentication.html">Connexion</a>
    </nav>
</header>

<!-- HERO DETAIL -->
<section class="hero" id="filmHero">
    <div class="hero-content">
        <h2 id="filmTitle"></h2>
        <p id="filmOverview"></p>

        <p id="filmInfo"></p>

        <button id="favBtn" class="btn-films">Ajouter aux favoris</button>
    </div>
</section>

<!-- CAST -->
<section>
    <h2>Acteurs</h2>
    <div class="carousel" id="cast"></div>
</section>

<!-- SIMILAIRES -->
<section>
    <h2>Films similaires</h2>
    <div class="carousel" id="similar"></div>
</section>

<script src="/js/script.js"></script>

</body>
</html>