<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>NetflixLight</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <header>
        <h1>NETFLIXLIGHT</h1>
        <nav>
            <a href="index.html">Accueil</a>
            <a href="favoris.html">Favoris</a>
            <a href="authentication.html">Connexion</a>
        </nav>
    </header>

    <section class="hero" id="hero">
        <div class="hero-content">
            <h2 id="heroTitle"></h2>
            <p id="heroInfo"></p>
        </div>
    </section>

    <section>
        <h2>Tendances du moment</h2>
        <div class="carousel" id="trending"></div>
    </section>

    <section>
        <h2>Films populaires</h2>
        <div class="carousel" id="movies"></div>
    </section>

    <section>
        <h2>Séries populaires</h2>
        <div class="carousel" id="series"></div>
    </section>

    <section>
        <h2>Action</h2>
        <div class="carousel" id="action"></div>
    </section>

    <section>
        <h2>Comédie</h2>
        <div class="carousel" id="comedy"></div>
    </section>

    <script src="../static/js/script.js"></script>

</body>

</html>