<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Inscription - NetflixLight</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
  <h1>NETFLIXLIGHT</h1>
  <nav>
    <a href="index.html">Accueil</a>
    <a href="authentification.html">Connexion</a>
    <button id="themeToggle">Mode clair</button>
  </nav>
</header>

<div class="auth-container">
  <form class="auth-box" id="registerForm">
    <h2>Inscription</h2>

   <input type="text" id="username" placeholder="Pseudo" required>
    <input type="email" id="email" placeholder="Email" required>
    <input type="password" id="password" placeholder="Mot de passe" required>

    <button type="submit">S'inscrire</button>

    <p class="auth-switch">
      Déjà un compte ? <a href="authentification.html">Se connecter</a>
    </p>
  </form>
</div>

<script src="/js/auth.js"></script>
<script src="/js/script.js"></script>

</body>
</html>