body{
margin:0;
font-family:Arial;
background:#141414;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
}

header h1{
color:#e50914;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:450px;
background-size:cover;
background-position:center;
display:flex;
align-items:flex-end;
padding:40px;
position: relative;
}

.hero-content{
background:rgba(0,0,0,0.6);
padding:20px;
border-radius:8px;
}

.hero-buttons{
margin-top:20px;
display:flex;
gap:10px;
}

section{
padding:20px;
}

.carousel{
display:flex;
overflow-x:auto;
gap:15px;
scroll-behavior:smooth;
}

.carousel::-webkit-scrollbar{
display:none;
}

/* CARDS */
.card{
position:relative;
min-width:160px;
overflow:hidden;
cursor:pointer;
}

.card img{
width:160px;
border-radius:8px;
}

/* INFO TOUJOURS VISIBLE */
.info{
position:absolute;
bottom:0;
width:100%;
padding:12px;
background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.4), transparent);
font-size:13px;
display:flex;
flex-direction:column;
justify-content:flex-end;
height:100%;
}

.info h4{
margin:0 0 5px 0;
}

.info p{
margin:2px 0;
}

/* BOUTONS */
.card-buttons{
display:flex;
gap:8px;
margin-top:8px;
}

.btn-detail{
background:#e50914;
color:white;
border:none;
padding:5px 10px;
font-size:12px;
border-radius:4px;
cursor:pointer;
}

.btn-detail:hover{
background:#b20710;
}

.btn-fav{
background:transparent;
color:white;
border:1px solid white;
padding:5px 10px;
font-size:12px;
border-radius:4px;
cursor:pointer;
}

.btn-fav:hover{
background:white;
color:black;
}

/* CATALOGUE */
.catalogue{
display:flex;
gap:20px;
margin-top:20px;
}

.film-card{
width:150px;
height:200px;
background:#222;
color:white;
display:flex;
align-items:center;
justify-content:center;
border-radius:5px;
}
/* ===== PAGE FAVORIS EN GRILLE ===== */
#favorisList {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
}

/* adapte les cartes dans la grille */
#favorisList .card {
  min-width: unset;
  width: 100%;
}

/* images prennent toute la largeur */
#favorisList .card img {
  width: 100%;
}

/* responsive (important sinon ça casse sur petits écrans) */
@media (max-width: 1400px) {
  #favorisList {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1000px) {
  #favorisList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  #favorisList {
    grid-template-columns: repeat(2, 1fr);
  }
}